@model IEnumerable<MvcMovie.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<link href="~/css/movie.css" rel="stylesheet" />
<h1>Movie List</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container-movie">
    @foreach (var item in Model)
     {
        <div class="movie-item">
            <img src=@Url.Content("https://m.media-amazon.com/images/M/MV5BMjEwMDA1MDUwNl5BMl5BanBnXkFtZTcwMDQzMzM1MQ@@._V1_.jpg") class="img-movie" alt="...">
            <div class="movie-body">
                <h5 class="movie-title"> @Html.DisplayFor(modelItem => item.Title)</h5>
                <p class="movie-text">@Html.DisplayFor(modelItem => item.Genre)</p>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Watch Movie</a>
            </div>
            <span class="movie-type">HD VietSub</span>
            
        </div>
     }
</div>
